// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "DockingFeature/resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (India) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENN)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_INDIA
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,3,0,0
 PRODUCTVERSION 0,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Sandy <3 - santhoshswamyv@gmail.com"
            VALUE "FileDescription", "Finacle Developer Plugin for Notepad++"
            VALUE "FileVersion", "0.3.0.0"
            VALUE "InternalName", "FinacleDevAssist.dll"
            VALUE "LegalCopyright", "Copyright 2026 by Sandy <3"
            VALUE "OriginalFilename", "FinacleDevAssist"
            VALUE "ProductName", "FinacleDevAssist"
            VALUE "ProductVersion", "0.3.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST             "app.manifest"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_FDA_SMALL           ICON                    "Resources\\fda_small.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_BEAUTIFY_LANGUAGE_DIALOG DIALOGEX 0, 0, 220, 90
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Beautify Code"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT           "Select language:", IDC_BEAUTIFY_LANGUAGE_LABEL, 10, 12, 80, 12
COMBOBOX        IDC_BEAUTIFY_LANGUAGE, 10, 28, 200, 100, 0x0003 | 0x00200000 | 0x00000001
DEFPUSHBUTTON   "OK", IDOK, 105, 62, 50, 16
PUSHBUTTON      "Cancel", IDCANCEL, 160, 62, 50, 16
END

IDD_FI_REQUEST_DIALOG DIALOGEX 0, 0, 300, 210
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Execute FI Request"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT           "Environment:", IDC_FI_ENVIRONMENT_LABEL, 10, 15, 80, 12
COMBOBOX        IDC_FI_ENVIRONMENT, 95, 12, 195, 100, 0x0003 | 0x00200000 | 0x00000001
LTEXT           "Method:", IDC_FI_METHOD_LABEL, 10, 43, 80, 12
COMBOBOX        IDC_FI_METHOD, 95, 40, 195, 100, 0x0003 | 0x00200000 | 0x00000001
LTEXT           "Content-Type:", IDC_FI_CONTENT_TYPE_LABEL, 10, 71, 80, 12
COMBOBOX        IDC_FI_CONTENT_TYPE, 95, 68, 195, 100, 0x0003 | 0x00200000 | 0x00000001
EDITTEXT        IDC_FI_CONTENT_TYPE_CUSTOM, 95, 88, 195, 14, 0x00000080
LTEXT           "Accept:", IDC_FI_ACCEPT_LABEL, 10, 115, 80, 12
COMBOBOX        IDC_FI_ACCEPT, 95, 112, 195, 100, 0x0003 | 0x00200000 | 0x00000001
EDITTEXT        IDC_FI_ACCEPT_CUSTOM, 95, 132, 195, 14, 0x00000080
DEFPUSHBUTTON   "Execute", IDOK, 180, 178, 55, 18
PUSHBUTTON      "Cancel", IDCANCEL, 240, 178, 50, 18
END

IDD_FDA_PROPERTIES_DIALOG DIALOGEX 0, 0, 420, 260
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "FDA Properties"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
CONTROL "", IDC_PROPERTIES_LIST, "SysListView32",
0x00000001 | 0x00000004 | 0x00000008 | 0x00010000 | 0x00400000,
10, 10, 400, 190

PUSHBUTTON "Add FI Env", IDC_PROPERTIES_ADD, 10, 210, 65, 18
PUSHBUTTON "Add C24 Env", IDC_PROPERTIES_ADD_C24, 80, 210, 65, 18
PUSHBUTTON "Edit", IDC_PROPERTIES_EDIT, 150, 210, 50, 18
PUSHBUTTON "Delete", IDC_PROPERTIES_DELETE, 205, 210, 50, 18
PUSHBUTTON "Close", IDCANCEL, 360, 210, 50, 18
END

IDD_FDA_PROPERTY_EDIT_DIALOG DIALOGEX 0, 0, 280, 100
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Property"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT "Key:", IDC_PROP_KEY_LABEL, 10, 15, 40, 12
LTEXT "fi.", IDC_PROP_KEY_PREFIX, 55, 15, 20, 12
EDITTEXT        IDC_PROP_KEY, 78, 12, 182, 14, 0x00000080
LTEXT "Value:", IDC_PROP_VALUE_LABEL, 10, 38, 40, 12
EDITTEXT        IDC_PROP_VALUE, 55, 35, 205, 14, 0x00000080

DEFPUSHBUTTON "OK", IDOK, 165, 68, 50, 18
PUSHBUTTON    "Cancel", IDCANCEL, 220, 68, 50, 18
END

IDD_FDA_C24_ENV_EDIT_DIALOG DIALOGEX 0, 0, 300, 220
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "C24 Environment"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT "Name:", IDC_STATIC, 10, 15, 60, 12
LTEXT "c24.", IDC_C24_NAME_PREFIX, 80, 15, 25, 12
EDITTEXT      IDC_C24_NAME, 108, 12, 172, 14, 0x00000080

LTEXT "Host:", IDC_STATIC, 10, 35, 60, 12
EDITTEXT          IDC_C24_HOST, 80, 32, 200, 14, 0x00000080

LTEXT "Port:", IDC_STATIC, 10, 55, 60, 12
EDITTEXT          IDC_C24_PORT, 80, 52, 200, 14, 0x00000080 | 0x2000

LTEXT "Username:", IDC_STATIC, 10, 75, 60, 12
EDITTEXT          IDC_C24_USERNAME, 80, 72, 200, 14, 0x00000080

LTEXT "Password:", IDC_STATIC, 10, 95, 60, 12
EDITTEXT          IDC_C24_PASSWORD, 80, 92, 200, 14, 0x00000080 | 0x0020

LTEXT "Bank ID:", IDC_STATIC, 10, 115, 60, 12
EDITTEXT          IDC_C24_BANKID, 80, 112, 200, 14, 0x00000080 | 0x2000

LTEXT "BE Path:", IDC_STATIC, 10, 135, 60, 12
EDITTEXT          IDC_C24_BEPATH, 80, 132, 200, 14, 0x00000080

LTEXT "FE Path:", IDC_STATIC, 10, 155, 60, 12
EDITTEXT          IDC_C24_FEPATH, 80, 152, 200, 14, 0x00000080

DEFPUSHBUTTON "OK", IDOK, 140, 190, 50, 18
PUSHBUTTON    "Cancel", IDCANCEL, 195, 190, 50, 18
END

IDD_FDA_CUSTOM_MENU_DIALOG DIALOGEX 0, 0, 420, 400
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Generate Custom Menu"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT "Menu Name:", IDC_STATIC, 10, 15, 70, 12
EDITTEXT      IDC_MENU_NAME, 90, 12, 150, 14, 0x00000080

LTEXT "Menu Description:", IDC_STATIC, 10, 35, 70, 12
EDITTEXT      IDC_MENU_DESCRIPTION, 90, 32, 320, 14, 0x00000080

LTEXT "Menu Type:", IDC_STATIC, 10, 55, 70, 12
COMBOBOX      IDC_MENU_TYPE, 90, 52, 120, 80, 0x00000003

LTEXT "Generate Design:", IDC_STATIC, 220, 55, 70, 12
CONTROL "", IDC_MENU_GENERATE_DESIGN_LIST, "SysListView32",
0x00000001 | 0x00000004 | 0x00000008 | 0x00010000 | 0x00400000,
220, 52, 190, 130

LTEXT "Added Fields:", IDC_STATIC, 10, 192, 70, 12
CONTROL "", IDC_MENU_FIELDS_LIST, "SysListView32",
0x00000001 | 0x00000004 | 0x00000008 | 0x00010000 | 0x00400000,
10, 206, 400, 130

PUSHBUTTON "Add Field", IDC_MENU_ADD_FIELD, 10, 342, 65, 18
PUSHBUTTON "Edit Field", IDC_MENU_EDIT_FIELD, 80, 342, 65, 18
PUSHBUTTON "Delete Field", IDC_MENU_DELETE_FIELD, 150, 342, 65, 18

DEFPUSHBUTTON "Generate", IDC_MENU_GENERATE, 300, 370, 55, 18
PUSHBUTTON    "Cancel", IDCANCEL, 360, 370, 50, 18
END

IDD_FDA_FIELD_EDIT_DIALOG DIALOGEX 0, 0, 340, 275
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Field"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT "Field Placement:", IDC_STATIC, 10, 15, 70, 12
COMBOBOX      IDC_FIELD_PLACEMENT, 90, 12, 150, 80, 0x00000003

LTEXT "Field Type:", IDC_STATIC, 10, 35, 70, 12
COMBOBOX      IDC_FIELD_TYPE, 90, 32, 150, 80, 0x00000003

LTEXT "Field Label:", IDC_STATIC, 10, 55, 70, 12
EDITTEXT      IDC_FIELD_LABEL, 90, 52, 220, 14, 0x00000080

LTEXT "Field ID:", IDC_STATIC, 10, 75, 70, 12
EDITTEXT      IDC_FIELD_ID, 90, 72, 220, 14, 0x00000080

LTEXT "Field Description:", IDC_STATIC, 10, 95, 70, 12
EDITTEXT      IDC_FIELD_DESCRIPTION, 90, 92, 220, 14, 0x00000080

LTEXT "Searcher:", IDC_STATIC, 10, 115, 70, 12
COMBOBOX      IDC_FIELD_SEARCHER, 90, 112, 150, 80, 0x00000003

CONTROL "Is Disabled", IDC_FIELD_IS_DISABLED, "Button", 0x00000003, 90, 133, 100, 12
CONTROL "Is Mandatory", IDC_FIELD_IS_MANDATORY, "Button", 0x00000003, 90, 149, 110, 12

LTEXT "Options:", IDC_FIELD_OPTIONS_LABEL, 10, 168, 200, 12
CONTROL "", IDC_FIELD_OPTIONS_LIST, "SysListView32",
0x00000001 | 0x00000004 | 0x00000008 | 0x00010000 | 0x00400000,
10, 182, 320, 60

PUSHBUTTON "Add", IDC_FIELD_OPTIONS_ADD, 10, 246, 50, 18
PUSHBUTTON "Edit", IDC_FIELD_OPTIONS_EDIT, 65, 246, 50, 18
PUSHBUTTON "Delete", IDC_FIELD_OPTIONS_DELETE, 120, 246, 50, 18

DEFPUSHBUTTON "OK", IDOK, 220, 246, 50, 18
PUSHBUTTON    "Cancel", IDCANCEL, 275, 246, 50, 18
END

IDD_FDA_OPTION_EDIT_DIALOG DIALOGEX 0, 0, 240, 90
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Option"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT "Label:", IDC_STATIC, 10, 15, 40, 12
EDITTEXT IDC_OPTION_LABEL, 55, 12, 175, 14, 0x00000080

LTEXT "Value:", IDC_STATIC, 10, 38, 40, 12
EDITTEXT IDC_OPTION_VALUE, 55, 35, 175, 14, 0x00000080

DEFPUSHBUTTON "OK", IDOK, 120, 62, 50, 18
PUSHBUTTON    "Cancel", IDCANCEL, 175, 62, 50, 18
END

IDD_FDA_DEPLOY_ENV_SELECT_DIALOG DIALOGEX 0, 0, 220, 100
STYLE 0x80000000 | 0x00C00000 | 0x00080000 | 0x00000040
CAPTION "Select C24 Environment"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
LTEXT "Environment:", IDC_STATIC, 10, 15, 60, 12
COMBOBOX      IDC_DEPLOY_ENV_LIST, 10, 30, 200, 80, 0x00000003

DEFPUSHBUTTON "OK", IDOK, 100, 70, 50, 18
PUSHBUTTON    "Cancel", IDCANCEL, 155, 70, 50, 18
END
#endif    // English (India) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

